/*Forms*/

body{
    background: #fdfdfd;
}
.container-form-contact .form .form-title .form-contact{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: rgb(231, 238, 231);
    text-align: center;
    padding: 14px 0;
}
.container-form-contact .form .form-title .form-contact span{
    color: rgb(77, 77, 77);
}

.container-form-contact .form{
    background: rgb(5, 5, 5);
    width: 98%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.container-form-contact .form .form-label{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.container-form-contact .form .form-input, .form-textarea{
    background: rgb(250, 250, 248);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(79, 80, 79);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 12px;
    color: rgb(240, 241, 247);
    font-family: 'Poppins', sans-serif;
}
.container-form-contact .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.container-form-contact .form .btn-submit{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: #000000;
    font-size: 16px;
    border: 2px solid gray;
    color: #fdfdfd;
    padding: 15px o;
    cursor: pointer;  
    transition: all .5s ease;  
    border: 2px solid darkgray;
}
.container-form-contact .form .btn-submit:hover {
    background: rgb(252, 252, 252);
    color: #000000;
}
